<div class="footer">
  <p>Maintained by k0nsl | Hosted by <a href="https://bad.goy.su/buyvm-k0nsl">Frantech/BuyVM</a> | Backed up to <a href="http://bit.ly/11OlZPV">Backupsy</a></p>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Press+Start+2P::latin', 'Open+Sans::latin', 'VT323' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://cdn.k0nsl.org/js/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

<!-- Statistics -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//s.k0nsl.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '12']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//s.k0nsl.org/piwik.php?idsite=12&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Statistics -->